<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="theme-color" content="#1c7f40" />

    <link rel="shortcut icon" type="image/x-icon" href="/images/logo.png" />
    <link rel="icon" type="image/png" href="/images/logo.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/images/logo.png" sizes="96x96" />
    <link rel="apple-touch-icon" sizes="180x180" href="/images/logo.png" />

    <title>Zoe Fileshare - 401</title>
    <!-- Bootstrap CSS with dark color theme -->
    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css" />
    <!-- Custom CSS with green accent -->
    <style>
      body {
        background-color: #343a40;
      }
      .card {
        background-color: #424a52;
        color: #fff;
      }
      .card-header {
        background-color: #1c7f40;
      }
      .btn-success {
        background-color: #1c7f40;
        border-color: #1c7f72;
      }
      .btn-success:hover {
        background-color: #1c7f40;
        border-color: #1c7f72;
      }
    </style>
  </head>
  <body>

    <div class="container pt-5">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                <h4>401 - Unauthorized</h4>
              </div>
              <div class="card-body">
                <p>Please try logging in again.</p>
                <a href="/"><button class="btn btn-success">Login</button></a>
              </div>
            </div>
          </div>
        </div>
      </div>

  </body>
</html>
